body {
    margin-top: 10px;
}

.container-fluid {
    max-width: 768px;
}

.header-container {
    border-top: 2px solid #E74C3C;
    border-bottom: 2px solid #E74C3C;

    background-color: #2C3E50;

    margin-bottom: 10px;
}

div.navbar.header-main-menu {
    border-radius: 0px !important;
}

.header-main-menu {
    border-top: 2px solid darkorange;
    border-bottom: 2px solid darkorange;
}

.navbar {
    background: url("/trendy/images/img-noise-100x100.png") repeat !important;
    border-radius: 0 !important;
}

.footer-container {
    position: absolute;
    bottom: 0;

    min-width: 100%;
    width: 100%;
    max-width: 100%;

    min-height: 150px;
    height: 150px;
    max-height: 150px;

    border-top: 2px solid darkorange;
    border-bottom: 2px solid darkorange;

    /*background-color: #020500;*/

    margin-bottom: 15px;

    /*background-image: url('/trendy/images/img-noise-50x50.png');*/
    background: url("/trendy/images/img-noise-100x100.png") repeat;
}

.form-container {
    /*background-color: #020500;*/

    background: url("/trendy/images/img-noise-100x100.png") repeat !important;

    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 25px;

    border-radius: 0px 20px 0px 20px;
    -moz-border-radius: 0px 20px 0px 20px;
    -webkit-border-radius: 0px 20px 0px 20px;
    border: 1px solid darkorange;

    -webkit-box-shadow: -5px -5px 27px -6px darkorange;
    -moz-box-shadow: -5px -5px 27px -6px darkorange;
    box-shadow: -5px -5px 27px -6px darkorange;
}

.form-container-title {
    /*margin: 10px;*/

    margin-bottom: 10px;
    padding: 5px;
    padding-left: 25px;

    border-radius: 0px 20px 0px 20px;
    -moz-border-radius: 0px 20px 0px 20px;
    -webkit-border-radius: 0px 20px 0px 20px;
    border: 0px solid #000000;

    -webkit-box-shadow: 0px 0px 3px 2px rgba(28,28,28,0.2);
    -moz-box-shadow: 0px 0px 3px 2px rgba(28,28,28,0.2);
    box-shadow: 0px 0px 3px 2px rgba(28,28,28,0.2);

    background: rgba(212,228,239,1);
    background: -moz-linear-gradient(left, rgba(212,228,239,1) 0%, rgba(134,174,204,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(212,228,239,1)), color-stop(100%, rgba(134,174,204,1)));
    background: -webkit-linear-gradient(left, rgba(212,228,239,1) 0%, rgba(134,174,204,1) 100%);
    background: -o-linear-gradient(left, rgba(212,228,239,1) 0%, rgba(134,174,204,1) 100%);
    background: -ms-linear-gradient(left, rgba(212,228,239,1) 0%, rgba(134,174,204,1) 100%);
    background: linear-gradient(to right, rgba(212,228,239,1) 0%, rgba(134,174,204,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d4e4ef', endColorstr='#86aecc', GradientType=1 );
}

div.spacer15 {
    padding-bottom: 15px;
    width: 100%;
}

/* Tables */
table.middle-centered tr td {
    vertical-align: middle;
}

/* Field error validation */
div.form-group.errors > label {
    color: red !important;
}

div.form-group.errors > input,
div.form-group.errors > select,
div.form-group.errors > div.input-group > input {
    color: red !important;
    border-color: red;
}

/* Font management */
.bold-font-title {
    font-weight: bolder;
}

/* Form fields */
div.form-group label {
    /*color: darkorange;*/
}

/* Social networks icon management */

div.facebook-social-icon {
    background-image: url("/trendy/images/social/facebook_dark.png");
    min-height: 32px;
    max-width: 32px;
}

div.facebook-social-icon:hover {
    background-image: url('/trendy/images/social/facebook_active.png');
}

div.google-plus-social-icon {
    background-image: url("/trendy/images/social/google_dark.png");
    min-height: 32px;
    max-width: 32px;
}

div.google-plus-social-icon:hover {
    background-image: url('/trendy/images/social/google_active.png');
}

div.twitter-social-icon {
    background-image: url("/trendy/images/social/twitter02_dark.png");
    min-height: 32px;
    max-width: 32px;
}

div.twitter-social-icon:hover {
    background-image: url('/trendy/images/social/twitter02_active.png');
}